<div class="wrapper">
    <div class="frame">
        <div class="main">
            <h1>Best Selling Courses</h1>
            <div class="courses">
                <div class="row">
                    <div class="item">
                        <img src="" alt="">
                        <div class="itme-info">
                            <div class="price">

                            </div>
                            <p>

                            </p>
                        </div>
                        <div class="rating">
                            <div class="rate">
                                <img src="" alt="">
                                <p></p>
                            </div>
                            <div class="std-join">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>
