<div class="wrapper">
    <div class="frame">
        <div class="main">
            <h1>Browse top category</h1>
            <div class="cat-main">
                <div class="row">
                    <div class="cat-item secondary-bg">
                        <div class="icon">
                            <img [src]="category['Label'].img" alt="">
                        </div>
                        <div class="title">                    
                            <p class="label">Label</p>
                            <p>{{category["Label"].courses}} courses</p>
                        </div>
                    </div>
                    <div class="cat-item success-light-bg">
                        <div class="icon">
                            <img [src]="category['Business'].img" alt="">
                        </div>
                        <div class="title">                    
                            <p class="label">Business</p>
                            <p>{{category["Business"].courses}} courses</p>
                        </div>
                    </div>
                    <div class="cat-item warming-bg">
                        <div class="icon">
                            <img [src]="category['Finance & Accounting'].img" alt="">
                        </div>
                        <div class="title">                    
                            <p class="label">Finance & Accounting</p>
                            <p>{{category["Finance & Accounting"].courses}} courses</p>
                        </div>
                    </div>
                    <div class="cat-item error-bg">
                        <div class="icon">
                            <img [src]="category['IT & Software'].img" alt="">
                        </div>
                        <div class="title">                    
                            <p class="label">IT & Software</p>
                            <p>{{category["IT & Software"].courses}} courses</p>
                        </div>
                    </div>
                </div>            
                <div class="row">
                    <div class="cat-item">
                        <div class="icon-orange">
                            <img class="" [src]="category['Personal Development'].img" alt="">
                        </div>
                        <div class="title">                    
                            <p class="label">Personal Development</p>
                            <p>{{category["Personal Development"].courses}} courses</p>
                        </div>
                    </div>
                    <div class="cat-item gray-light-bg">
                        <div class="icon">
                            <img [src]="category['Office Productivity'].img" alt="">
                        </div>
                        <div class="title">                    
                            <p class="label">Office Productivity</p>
                            <p>{{category["Office Productivity"].courses}} courses</p>
                        </div>
                    </div>
                    <div class="cat-item secondary-bg">
                        <div class="icon">
                            <img [src]="category['Marketing'].img" alt="">
                        </div>
                        <div class="title">                    
                            <p class="label">Marketing</p>
                            <p>{{category["Marketing"].courses}} courses</p>
                        </div>
                    </div>
                    <div class="cat-item gray-light-bg">
                        <div class="icon">
                            <img [src]="category['Photography & Video'].img" alt="">
                        </div>
                        <div class="title">                    
                            <p class="label">Photography & Video</p>
                            <p>{{category["Photography & Video"].courses}} courses</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cat-item warming-bg">
                        <div class="icon">
                            <img [src]="category['Lifestyle'].img" alt="">            
                        </div>
                        <div class="title">                    
                            <p class="label">Lifestyle</p>
                            <p>{{category["Lifestyle"].courses}} courses</p>
                        </div>
                    </div>
                    <div class="cat-item error-bg">
                        <div class="icon">
                            <img [src]="category['Design'].img" alt="">
                        </div>
                        <div class="title">                    
                            <p class="label">Design</p>
                            <p>{{category["Design"].courses}} courses</p>
                        </div>
                    </div>
                    <div class="cat-item success-light-bg">
                        <div class="">
                            <img [src]="category['Health & Fitness'].img" alt="">
                        </div>
                        <div class="title">                    
                            <p class="label">Health & Fitness</p>
                            <p>{{category["Health & Fitness"].courses}} courses</p>
                        </div>
                    </div>
                    <div class="cat-item warming-bg">
                        <div class="icon">
                            <img [src]="category['Music'].img" alt="">
                        </div>
                        <div class="title">                    
                            <p class="label">Music</p>
                            <p>{{category["Music"].courses}} courses</p>
                        </div>
                    </div>
                </div>
           </div>
           <div class="foot">
                <p>We have more category & subcategory.</p>
                <div class="Browse-link">
                    <p>Browse All</p>
                    <img src="../../../../assets/ArrowRight.png" alt="ArrowRight">
                </div>
           </div>
        </div>
    </div>
</div>
